
SciExpeM/__pycache__/
.idea
__pycache__/
experimentmanager/__pycache__/
experimentmanager/migrations
frontend/__pycache__/

.DS_Store

BzzFile.txt

node_modules/

staticfiles

*.log

OpenSmoke/migrations/

ReSpecTh/migrations/

CurveMatching/migrations/

filename.zip

FrontEnd/prova.py

FrontEnd/static/FrontEnd/main.js

ReSpecTh/prova.py

SciExpeM/settingsFile
